**Classification-Data.csv contains feature which classifies into two classes whether a person has diabetes or not depending on data provided.Build classification model using discriminant function and classify the model such that when a new data is given to model then it classifies in the mentioned two classes whether a person has diabetes or not.**

In [ ]:
import numpy as np
import pandas as pd
import math
df = pd.read_csv("Classification-Data.csv")

In [ ]:
df

     glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   glucose        995 non-null    int64
 1   bloodpressure  995 non-null    int64
 2   diabetes       995 non-null    int64
dtypes: int64(3)
memory usage: 23.4 KB

In [ ]:
class1 = df[df['diabetes'] == 0]
class2 = df[df['diabetes'] == 1]

In [ ]:
# count= 0
# for i in range(len(df['diabetes'])):
#   if(df['diabetes'][i] == 0):
#     count = count + 1
# count
# n = len(df['diabetes'])
# n
# p_nodiabetes = count/n
# p_yesdiabetes = (n-count)/n
# print(p_nodiabetes)
# print(p_yesdiabetes)
p_class1 = len(class1['diabetes'])/len(df['diabetes'])
p_class2 = len(class2['diabetes'])/len(df['diabetes'])
print(p_class1)
print(p_class2)

0.4994974874371859
0.5005025125628141

In [ ]:
mean11 = class1['glucose'].mean()
print(mean11)
mean12 = class1['bloodpressure'].mean()
print(mean12)
mean1 = [mean11,mean12]
mean1

44.094567404426556
86.738430583501

[44.094567404426556, 86.738430583501]

In [ ]:
covariance1 = np.matrix(class1[['glucose','bloodpressure']].cov())

In [ ]:
#d = 2
def g1_x(x):
  covariance1_det = np.linalg.det(covariance1)
  x_mean1_transpose = (np.matrix(np.matrix(x) - np.matrix(mean1)))
  covariance1_inverse = np.linalg.inv(covariance1)
  x_mean1 = np.matrix(np.matrix(x) - np.matrix(mean1)).transpose()
  g1 = -0.5*math.log(2*np.pi) -0.5*math.log(covariance1_det) - 0.5 *(x_mean1_transpose * covariance1_inverse * x_mean1) + math.log(p_class1)
  return g1

In [ ]:
mean21 = class2['glucose'].mean()
print(mean21)
mean22 = class2['bloodpressure'].mean()
print(mean22)
mean2 = [mean21, mean22]
mean2

44.51807228915663
71.64658634538152

[44.51807228915663, 71.64658634538152]

In [ ]:
covariance2 = np.matrix(class2[['glucose','bloodpressure']].cov())

In [ ]:
def g2_x(x):
  covariance2_det = np.linalg.det(covariance2)
  x_mean2_transpose = (np.matrix(np.matrix(x) - np.matrix(mean2)))
  covariance2_inverse = np.linalg.inv(covariance2)
  x_mean2 = np.matrix(np.matrix(x) - np.matrix(mean2)).transpose()
  g2 = -0.5*math.log(2*np.pi) -0.5*math.log(covariance2_det) - 0.5 *(x_mean2_transpose * covariance2_inverse * x_mean2) + math.log(p_class2)
  return g2

In [ ]:
x = [40,73]
g1 = g1_x(x)
g2 = g2_x(x)
print(g1,g2)
if(g1 > g2):
  print("class1")
if(g1 < g2):
  print("class2")
if(g1 == g2):
  print("Decision Boundary")

[[-9.822744]] [[-5.7065326]]
class2